<!DOCTYPE html>
<html>
	<head>
		<!--<%= banner %>-->
		<title>flow-chart.js</title>

	<%
	if (!isProduction) {
	%>
		<script src="../bower_components/jsPlumb/dist/js/dom.jsPlumb-1.6.2.js"></script>

		<script src="js/constants.js"></script>
		<script src="js/util.js"></script>
		<script src="js/state.js"></script>
		<script src="js/cache.js"></script>
		<script src="js/alerts.js"></script>
		<script src="js/defaults.js"></script>
		<script src="js/diagram-data.js"></script>
		<script src="js/listeners.js"></script>
		<script src="js/static-listeners.js"></script>
		<script src="js/template.js"></script>
		<script src="js/execution-handler.js"></script>
		<script src="js/ui.js"></script>
		<script src="js/selection.js"></script>
		<script src="js/nodes.js"></script>
		<script src="js/flow-chart.js"></script>
		<script src="js/init.js"></script>

		<link rel="stylesheet" type="text/css" href="../bower_components/components-font-awesome/css/font-awesome.css">

		<link rel="stylesheet/less" type="text/css" href="css/index.less">

		<script type="text/javascript">
			var less = less || {};
			less.env = 'development'; // avoid less crazy cache
		</script>
		<script src="../bower_components/less/dist/less-1.7.0.js"></script> <!-- need to be after the stylesheets -->
	<%
	}
	else {
		%>
		<link rel="stylesheet" type="text/css" href="../bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" type="text/css" href="css/flow-chart.min.css">
	<%
	}
	%>
	</head>
	<body>
		<%
		if (isProduction) {
		%>
		<a href="https://github.com/BrunoRB/flow-chart.js" target="_blank">
			<img style="z-index: 999999; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
		</a>
		<%
		}
		%>
		<section id="left-area">
			<section class="flow logo">
				<h1><a href="https://github.com/BrunoRB/flow-chart.js" target="_blank">flow-chart.js</a></h1>
			</section>
			<section id="shape-menu" class="flow shape menu">
				<%
				_.forEach(shapes, function(shape) {
				%>
				<div
					class="flow shape <%- shape.type %>"
					title="<%- shape.type %>"
					tabindex="-1"
					data-flow-shape-type="<%- shape.type %>"
					data-flow-has-user-text="<%- shape.hasUserText %>"
					data-flow-max-outputs="<%- shape.maxOutputs %>"
					data-flow-max-inputs="<%- shape.maxInputs %>"
					data-flow-max-copies="<%- shape.maxCopies %>"
					data-flow-connection-type="<%- shape.connectionType %>"
				>
					<span class="connector one"></span> <span class="connector two"></span>
					<span class="connector three"></span> <span class="connector four"></span>
					<span class="resize anchor top left fa fa-angle-double-up"></span>
					<span class="resize anchor top right fa fa-angle-double-up"></span>
					<span class="resize anchor bottom left fa fa-angle-double-down"></span>
					<span class="resize anchor bottom right fa fa-angle-double-down"></span>
					<span class="shape image"></span>
					<code></code>
				</div>
				<%
				});
				%>
			</section>

			<section id="toolbar-container" class="flow toolbar menu">
				<a id="create-new-flowchart" href="#" class="button fa fa-plus"> New</a>
				<div class="flow toolbar list container">
					<i class="fa fa-folder-open-o">Open</i>
					<ul class="flow toolbar list open diagram">
						<li>
							<a href="json-file">From file</a>
							<input id="temp-upload" type="file" />
						</li>
						<li><a href="local-storage">From browser</a></li>
					</ul>
				</div>
				<div class="flow toolbar list container">
					<i class="fa fa-save">Save</i>
					<ul class="flow toolbar list save diagram">
						<li><a href="json-file">On file</a></li>
						<li><a href="local-storage">On browser</a></li>
					</ul>
				</div>
			</section>
			<section id="search-area">
			</section>
		</section>
		<section id="right-area" class="flow diagram container">
			<div id="alert-messages" data-flow-message-type="info"></div>
			<div class="flow tab menu">
				<ul class="flow tab list"></ul>
			</div>
			<div id="console-area">
				<div class="console toggle button">
					<i class="fa fa-list fa-2x"></i>
				</div>
				<section class="console execution buttons">
					<button class="button execute fa fa-play" disabled="disabled">Execute</button> <br>
					<button class="button start debug fa fa-play-circle" disabled="disabled">Debug</button>
					<button class="button debug next fa fa-step-forward" disabled="disabled"></button>
					<button class="button debug stop fa fa-stop" disabled="disabled"></button>
				</section>
				<section class="console exhibition">
					<span class="terminal">
						 <i class="fa fa-terminal"></i> :
					</span>
					<span class="clean console" title="Clean console">
						<i class="fa fa-refresh"></i>
                    </span>
					<div class="content"></div>
				</section>
				<section>

				</section>
			</div>
		</section>
<%
if (isProduction) {
%>
	<script src="../bower_components/jsPlumb/dist/js/dom.jsPlumb-1.6.2-min.js"></script>
	<script src="js/flow-chart.min.js"></script>
<%
}
%>
	</body>
</html>
