@import "mixins.less";
@import "vars.less";
@import "shapes.less";
@import "left-area.less";
@import "right-area.less";

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	overflow: hidden;
}

.button, button {
	cursor: pointer;
	border: none;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background: rgba(255,0,0,0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
